.header {
    width: 100%;
    height: var(--header-height);
    padding: 20px;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    top: 0;
}